blend-modes==2.1.0
certifi==2020.6.20
chirptext==0.1a19
colorama==0.4.3
cycler==0.10.0
Cython==0.29.21
dartsclone==0.9.0
ffmpeg==1.4
jamdict==0.1a7
kiwisolver==1.2.0
lxml==4.5.2
matplotlib==3.3.2
numpy==1.19.2
Pillow==7.2.0
puchikarui==0.1a3
pydub==0.24.1
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.15.0
sortedcontainers==2.1.0
SudachiPy==0.4.9
sudachidict_core
Wave==0.0.2
